<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-success">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-success">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-success">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-success">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-success">About</a></li>
    </ul>
    <p class="text-center text-body-success">&copy; 2024 FutureRelevance Connect</p>
  </footer>
</div>