<!Doctype>
<html>
  <head>
  <title>FutureRelevance Connect</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <img class="img-fluid" id="banner" src="https://185bbc5e-1910-430d-99dd-7a0bd97df804-00-2zb5g3qqfzf1w.worf.replit.dev/static/Banner.jpeg">
    <div class="container">
    <h1 class="text-center mt-4 mb-4">FutureRelevance Connect</h1><p>
      <div class="container">
       <b><h2 class="text-center mt-2 mb-4">
       {{company_name}}  
       </h2></b>
        <p class="bodytext">
          <b><p class="text-center ">"Integrity in Connections, Partnerships that Last"</p></b>

           <p class="bodytex, class="lead"> Pioneering Excellence Since 2024
            In the dynamic landscape of recruitment and career advancement, <b>FutureRelevance Connect</b> emerged as a trailblazer in 2024. Founded with a passion for connecting talent with opportunity and a commitment to redefining the recruitment experience.
               </p>

          <h2 class="text-center mt-4 mb-4">Available Positions</h2>
      <div>
        {% for job in jobs %}
  {% include 'jobitem.html' %}
          {% endfor %}
          
        </p>
        <div class="text-center">
          <a class="btn btn-outline-primary btn-lg mt-4" href="mailto:deploy.it.info@gmail.com?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20question%3A%20%3Center%20question%20here%3E%0D%0A%0D%0A">Contact Us</a>

    </div>
    {% include 'footer.html' %}
  </body>
</html>