<!Doctype>
      <html>
        <head>
        </head>
        {% include 'bootstrap.html' %}
        <body>
          {% include 'nav.html' %}
        <div class="position-absolute top-50 start-50 translate-middle">
        <h2 class="text-center mt-4 mb-4">FutureRelevance Connect</h2>
        <h2 class="text-center">Login</h2>
          </p>
          <form>
            <div class="col">
                  <input type="text" class="form-control" placeholder="First name" aria-label="First name" aria-describedby="basic-addon1">
            </br>
                  <input type="password" class="form-control" placeholder="Password" aria-label="Password"">
                <div class="col-md-6">

                </form>
                </br>
         <div>
                    <a class="btn btn-outline-primary" href="/signup" role="button">Sign-up</a> 
                     <a class="btn btn-outline-primary btn-large"href="/login">Login</a>
                </div>
              </div>
            </div>
                {% include 'footer.html' %}
              </body>
            </html>