<!Doctype>
<html>
  <head>
  <title>FutureRelevance Connect</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="position-absolute top-100 start-50 translate-middle">
    <h2 class="text-center mt-4 mb-4">FutureRelevance Connect</h2>
    <h2 class="text-center">Sign-up Create Your Profile</h2>
    <form>
      <div class="col">
            <input type="text" class="form-control" placeholder="First name" aria-label="First name" aria-describedby="basic-addon1">
      </br>
           <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
    </br>
        <input type="email" class="form-control" placeholder="email@email.com"
      area-label="Email">
      <div>
        </br>
    <input type="text" class="form-control" placeholder=" Street No. and Bulding" area-label="1234 Main St">
        <label for="inputAddress" class="form-label"></label>
      <div>
          </br>
      <input type="text" class="form-control" placeholder=" Street Name" area-label="1234 Main St">
          <label for="Apartment, studio, or floor" class="form-label"></label>
        <div>
              </br>
          <input type="text" class="form-control" placeholder="City" area-label="1234 Main St">
            <label for="Apartment, studio, or floor" class="form-label"></label>
          <div>         
          </br>
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Zip Code">
              <label for="iZip Code class="form-label"></label>
            </div>
          </br>
            <div>
          <input type="text" class="form-control" placeholder=" Country" area-label="1234 Main St">
              <label for="Apartment, studio, or floor" class="form-label"></label>
            </div>
          </br>
            <div>
              <input type="password" class="form-control" placeholder="Password">
              <label for="inputPassword4" class="form-label"></label>
            </div>
          <div>                                      
            <label for="inputPassword4" class="form-label"></label>
            <input type="password" class="form-control" placeholder="Confirm Password">
          </div>
        </div>
      </div>
              </br>
       <div class="col-md-12">
                  <a class="btn btn-outline-primary" href="/signup" role="button">Sign-up</a> 
                   <a class="btn btn-outline-primary btn-large"href="/login">Login</a>
              </div>
    </form>
    
          </div>
          {% include 'footer.html' %}
        </body>
      </html>